  body {
    background-color: #EAF6F6;
    font-family: sans-serif;
  }

  hr {
    border-style: dotted none none;
    width: 5%;
    border-color: #797D7F;
    border-width: 5px;
  }

  h1 {
    color: #3C60C1;
    font-family: fantasy;
    font-size: 40px;
  }

  h3 {
    color: #1A16F7;
    font-family: monospace;
    font-size: 20px;

  }
